<header>
    <div class="container">
        <h1>
            PÁGINA DE NOTICIAS
        </h1>
        <nav>
            <ul>
                <li>
                    <a sec:authorize="!hasAnyRole('USER','JOURNAL','ADMIN','MODERATOR')" href="/">Inicio</a>
                    <a sec:authorize="hasRole('USER')" href="/inicio">Inicio</a>
                    <a sec:authorize="hasAnyRole('JOURNAL','ADMIN','MODERATOR')" href="/inicio">Panel</a>
                </li>
                <li><a href="/contacto/">Contacto</a></li>
                <li><a href="/opinion/">Opinión</a></li>
                <li sec:authorize="!hasAnyRole('USER','JOURNAL','ADMIN','MODERATOR')"><a href="/sesion/registro">Iniciar</a></li>
                <li sec:authorize="hasAnyRole('USER','JOURNAL','ADMIN','MODERATOR')"><a href="/logout">Cerrar Sesión</a></li>
                <!-- FUNCIONA! Pero solo para la primera parte  -->
                <!-- <li th:if="${logeado == null}">
                    <a href="/sesion/registro">Iniciar</a>
                </li>
                <li th:if="${logeado != null}">
                    <a href="/logout">Cerrar Sesión</a>
                </li> -->
            </ul>
        </nav>
    </div>
</header>