<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="fragments/head :: head"></div>
</head>

<body>
  <header>
    <div th:replace="fragments/header :: header"></div>
  </header>

  <section class="main-content">
    <div class="container">
      <h2>CONTACTO</h2>
      <p>Para más información contáctanos en las siguientes redes sociales</p>
      <a class="boton"  href="http://www.facebook.com" target="_blank" rel="noopener noreferrer">NoticiAPP</a>
    </div>
  </section>

  <footer>
    <div th:replace="fragments/footer :: footer"></div>
  </footer>

</body>

</html>