<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="fragments/head :: head"></div>
</head>

<body>
  <header>
    <div th:replace="fragments/header :: header"></div>
  </header>

  <section class="main-content">
    <div class="container">
      <h1 th:if="${logeado != null}" th:text="Bienvenid@ ${logeado.getUsername()}"></h1>
      <p th:if="${logeado == null}">El usuario no existe</p>
      <h2>Aquí veras las noticias más recientes</h2>
      <p th:if="${noticias.isEmpty()}">No hay noticias cargadas aún</p>
      <div th:if="${!noticias.isEmpty()}">
        <div class="tabla" th:each="noticia: ${noticias}">
          <a th:href="@{/cuerpo/__${noticia.id}__}">
            <h3 th:text="${noticia.titulo}"></h3>
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div th:replace="fragments/footer :: footer"></div>
  </footer>

</body>

</html>