<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de noticias</title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="icon" th:href="@{/news.svg}" type="image/x-icon">
</head>

<body>
  <header>
    <div class="container">
      <h1>
        PÁGINA DE NOTICIAS
      </h1>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Login/Register</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="main-content">
    <div class="container">
      <h2>Aquí veras las noticias más recientes</h2>
      <p th:if="${noticias.isEmpty()}">No hay noticias cargadas aún</p>
      <div th:if="${!noticias.isEmpty()}">
        <div class="tabla" th:each="noticia: ${noticias}">
          <a th:href="@{/cuerpo/__${noticia.id}__}">
            <p th:text="${noticia.titulo}"></p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2023 Nombre de tu Página. Todos los derechos reservados.</p>
    </div>
  </footer>

</body>

</html>