<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>
    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>

    <section>
        <div th:replace="fragments/nav :: nav"></div>
    </section>

    <section class="main-content">
        <div class="container">
            <h3>Datos</h3>
            <div class="tabla">
                <form class="opinion" th:action="@{/admin/modificar/__${noticia.id}__}" method="post">
                    <input hidden th:value="${id}" name="id">
                    <label for="titulo">Título de noticia</label><br />
                    <input type="text" name="titulo" id="titulo" required placeholder="Ingrese título"><br />
                    <label for="cuerpo">Cuerpo de noticia</label><br />
                    <textarea name="cuerpo" id="cuerpo" cols="100" rows="15" required
                        placeholder="Ingrese cuerpo"></textarea><br />
                    <button type="submit">Crear</button>
                </form>

                <p th:if="${error != null}" th:text="${error}"></p>
            </div>
        </div>
    </section>

    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>

</body>

</html>