<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>
    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>

    <div class="main-content">
        <div class="container">
            <div class="tabla" th:href="@{/}">
                <h1 th:text="${noticia.titulo}"></h1>
                <p th:text="${noticia.cuerpo}"></p>
            </div>
        </div>
    </div>

    <footer>
        <div th:replace="fragments/footer :: footer"></div>
      </footer>
</body>

</html>