<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>
    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>

    <p class="container">Aquí verás las opciones para poder ver las noticias, modificarlas, borrarlas o agregar nuevas
    </p>
    <div class="container">
        <!-- <h1 th:text="${usuario.email}"></h1> -->
        <!-- <h1 th:text="${usuarioServicio.email}"></h1> -->
    </div>

    <section>
        <div th:replace="fragments/nav :: nav"></div>
    </section>

    <section class="main-content">
        <div class="container">
            <p>Podrás ver la lista de las noticias más recientes en el apartado "Lista de noticias".</p>
            <p>En ella también tendras las Acciones "Modificar" y "Eliminar".</p>
            <p>En la pestaña "Ingresar nueva noticia" podrás cargar la información de la misma.</p>
            <p>Clickando "Volver" regresas a esta web.</p>
        </div>
    </section>

    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>

</html>