<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/styleRegistro.css}">
  <title>LOGIN</title>
</head>

<body>
  <div class="volver-container">
    <a href="/" class="volver-btn">
      VOLVER
    </a>
  </div>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="/inicio/registrar" method="post">
        <h1>Crear cuenta</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>O usa alguna de estas aplicaciones</span>
        <input type="text" name="usuario" placeholder="Nombre de usuario" required/>
        <input type="email" name="email" placeholder="Email" required/>
        <input type="password" name="password" placeholder="Contraseña" required/>
        <input type="password" name="password2" placeholder="Repetir cotraseña" required/>
        <button type="submit">Registrar</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="/inicio/logear" method="post">
        <h1>Iniciar Sesión</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>O usa tu cuenta</span>
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Contraseña" />
        <a href="#">¿Olvidaste tu contraseña?</a>
        <button type="submit">Ingresar</button>
        <p class="error" th:if="${error!=null}" th:text="${error}"></p>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Hola de nuevo!</h1>
          <p>Mantente conectado para ver más info</p>
          <button class="ghost" id="signIn">Ingresar</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hola, querido!</h1>
          <p>Ingresa tus datos para poder registrarte con nosotros</p>
          <button class="ghost" id="signUp">Regístrate</button>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/scriptRegistro.js}"></script>
</body>

</html>